<div class="sidebar">

    <div class="nav-scrollable">
        <nav class="nav flex-column">
            <div>
                <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">
                    <i class="bi bi-house"></i> Home
                </NavLink>
            </div>
            <div>
                <NavLink href="/dashboard" class="nav-link">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </NavLink>
            </div>
            <div>
                <NavLink href="/costs" class="nav-link">
                    <i class="bi bi-cash-stack"></i> Costs
                </NavLink>
            </div>
            <div>
                <NavLink href="/recommendations" class="nav-link">
                    <i class="bi bi-lightbulb"></i> Recommendations
                </NavLink>
            </div>
        </nav>
    </div>
</div>
