<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CostAdvisor.UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="/dashboard">
            <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
        </NavLink>
        <NavLink class="nav-link" href="/costs">
            <span class="oi oi-list" aria-hidden="true"></span> Costs
        </NavLink>
        <NavLink class="nav-link" href="/recommendations">
            <span class="oi oi-lightbulb" aria-hidden="true"></span> Recommendations
        </NavLink>

    </nav>
</div>

